@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';


h1 {
    font-weight: 900;
    line-height: 40px;
    font-size: 28px;
    margin: 52px 0;
}

h2 {
    text-align: center;
    margin: 52px 0;
}

.cart-main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    width: 100%;
    .cart-list-headings {
        height: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 4fr 1fr 2fr 1fr;
        gap: 12px;
        align-items: center;
        padding: 0 16px;
        background-color: $greyscale-very-light-grey;
        .product {
            max-width: 30px;
        }
        .text-center{
            text-align: center;
        }
    }
    
    .summary {
        background-color: $greyscale-very-light-grey;
        padding: 26px 32px 3px 32px;
        .free-shipping-label {
            margin-top: 7px;
        }
        .cart-info-container {
            border-bottom: 1px solid $greyscale-dark-grey;
            border-top: 1px solid $greyscale-dark-grey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 21px;
            padding-top: 21px;
            margin-bottom: 21px;
            margin-top: 21px;
        }
        .order-total-div {
            margin-bottom: 21px;
        }
    }
}

.info-flex {
    display: flex;
    justify-content: space-between;
}

.beer-list-div {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}