@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.breadcrumb-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap: 8px;
    .caption {
        @include caption-link;
        color: $greyscale-black
    }
    .caption-bold {
        @include caption-bold
    }

    .img-div {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-image: url('../../../../assets/images/arrow-right.svg');
        background-size: cover;
    }

    &:hover{
        text-decoration: underline ;
    }
    &:active{
        @include caption-bold;
    }
}