// COLORS

$primary-turquoise: #5AB0BB;
$primary-turquoise-dark: #1493A4;
$primary-turquoise-light: #CEE7EB;

$accent-violet: #66318D;
$accent-orange: #FB8200;

$functional-succes-green1: #4CAF50;
$functional-succes-green2: #EBF4E6;
$functional-warning-error: #BE0028;

$greyscale-black: #000000;
$greyscale-dark-grey: #7B7E82;
$greyscale-grey: #CFCFCF;
$greyscale-light-grey: #CFCFCF;
$greyscale-very-light-grey: #FAF9FB;
$greyscale-white: #FFFFFF;


//FONTS

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$primary-font-family: 'Lato', sans-serif;




