<div class="product-main-container">
    <div class="product-card-details-container">
        <div class="top-icons-container">
            <div class="top-icons-div">
                <div>
                    <!-- <img src="{{infoBadgeUrl}}" alt="info-badge"> -->
                    <img src="assets/images/sold-out.png" alt="info-badge">
                </div>
                <div>
                    <img src="assets/images/product-of-the-week-badge.png" alt="product-of-the-week-badge">
                </div>
            </div>
            <div class="top-icons-div top-icons-div-right">
                <div class="icon-img-div"> 
                    <img src="assets/images/compare.png" alt="compare">
                </div>
                <div class="icon-img-div">
                    <img src="assets/images/black-heart.png" alt="favourite">
                </div>
            </div>
        </div>
        <div class="product-img-container">
            <div class="product-img-div">
                <img class="product-img" src="https://images.punkapi.com/v2/234.png" alt="">
            </div>
        </div>
        <div>
            <p class="caption">New england IPA</p>
            <h5>Fuerst Wiacek Impresario (2022)</h5>
            <p class="caption">Fuerst Wiacek</p>
        </div>
    </div>
    <div class="product-price-container">
        <div class="prices-container">
            <div class="prices-div">
                <h2>$7.00</h2>
                <p class="caption">$14.90</p>
            </div>
            <div>
                <img src="assets/images/discount.png" alt="discount">
            </div>
        </div>
        <p class="caption"><span>Content </span>0.44 Liter</p>
    </div>
    <div class="cart-container">
        <input class="quantity-input" type="number" placeholder="1" style="width: 40px; height: 40px; border: 1px solid black">
        <app-primary-button [imgSrc]="'assets/images/shopping-cart.png'" [buttonLabel]="'Add to cart'" ></app-primary-button>
    </div>
</div>
