@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.product-main-container{
    width: 290px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 16px;

    border: 1px solid $greyscale-very-light-grey;
    box-shadow: 0px 2px 4px rgba(5, 7, 32, 0.08);
    border-radius: 4px;
    .top-icons-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .top-icons-div{
            display: flex;
            gap: 4px
        }
        .top-icons-div-right{
            gap: 12px;
        }
    }
    .icon-img-div{
        width: 24px;
        height: 24px;
    }
    .product-img-container{
        width: 258px;
        height: 160px;
        background-color: #f2f2f2;
        margin-bottom: 16px;
        .product-img-div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 160px;
            object-fit: cover;
            overflow: hidden !important;
            .product-img{
                max-height: 100px;
            }

        }
    }
    .prices-container{
        display: flex;
        justify-content: space-between;
        .prices-div {
            display: flex;
            align-items: center;
            gap: 4px   
        }
    }
    &:hover {
        .product-img {
            transition: transform .2s;
            transform: scale(200%);
        }
        h5 {
            color: $primary-turquoise-dark
        }
    } 
}
.caption {
    @include caption;
    color: $greyscale-dark-grey
}

.uppercase{
    text-transform: uppercase;
}

span {
    color: $greyscale-black;
}

.cart-container {
    display: flex;
    margin-top: 16px;
    gap: 16px;
    input{
        @include basic-input;
        width: 40px;
        text-align: center;
        padding: 0;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } 
}

