<div class="product-main-container">
    <div class="product-card-details-container">
        <div class="top-icons-container">
            <div class="top-icons-div">
                <div *ngIf="beer?.badgeType === 1">
                    <img src="assets/images/new.png" alt="product-of-the-week-badge">
                </div>
                <div *ngIf="beer?.badgeType === 2">
                    <img src="assets/images/sold-out.png" alt="sold-out-badge">
                </div>
                <div *ngIf="beer?.badgeType === 3">
                    <img src="assets/images/sale.png" alt="sale-badge">
                </div>
                <div *ngIf="beer?.productOfTheWeek">
                    <img src="assets/images/product-of-the-week-badge.png" alt="product-of-the-week-badge">
                </div>
            </div>
            <div class="top-icons-div top-icons-div-right">
                <div class="icon-img-div"> 
                    <img src="assets/images/compare.png" alt="compare">
                </div>
                <div *ngIf="!beer?.isFavourite" class="icon-img-div" (click)="addToFavourites()">
                    <img src="assets/images/black-heart.png" alt="favourite">
                </div>
                <div *ngIf="beer?.isFavourite" class="icon-img-div" (click)="removeFromFavourites()">
                    <img src="assets/images/heart-filled.svg" alt="favourite">
                </div>
            </div>
        </div>
        <div class="product-img-container" (click)="navigateTo(beer!.id)">
            <div class="product-img-div">
                <img class="product-img" src="{{beer?.image_url}}" alt="">
            </div>
        </div>
        <div>
            <p class="caption">{{beer?.tagline}}</p>
            <h5 (click)="navigateTo(beer!.id)">{{beer?.name}}</h5>
            <p class="caption">{{beer?.contributed_by}}</p>
        </div>
    </div>
    <div>
        <div *ngIf="beer?.badgeType !== 2" class="product-price-container">
            <div class="prices-container">
                <div class="prices-div">
                    <h2>€{{beer?.price}}</h2>
                    <p *ngIf="beer?.badgeType === 2" class="caption">€{{beer?.originalPrice}}</p>
                </div>
                <div *ngIf="beer?.badgeType === 3">
                    <img src="assets/images/discount.png" alt="discount">
                </div>
            </div>
            <p class="caption"><span>Content </span>0.44 Liter</p>
        </div>
        <form *ngIf="beer?.badgeType !== 2" [formGroup]="cartForm" class="cart-container" (ngSubmit)="addToCart()">
            <input type="number" name="quantity" id="quantity" formControlName="quantity">
            <app-primary-button [imgSrc]="'assets/images/shopping-cart.png'" [buttonLabel]="'Add to cart'" [type]="'submit'" style="z-index: 200" ></app-primary-button>
        </form>
    </div>
</div>
