@mixin copy-text-standard {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
@mixin copy-text-semi-bold {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
@mixin copy-text-uppercase {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
@mixin copy-text-standard-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
@mixin caption {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
@mixin caption-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
@mixin caption-bold {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
@mixin button-label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
@mixin caption-small {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
@mixin caption-small-bold {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}